* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    /* Webkit */
    width: 0;
    height: 0;
}


body {
    background-color: #98922c;
    background-image: linear-gradient(0deg, #98922c 25%, #f1e869 100%);
    ;

}


.container {
    max-width: 960px;
}


.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.carousel::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, 0);
    z-index: 50;
}



.carouseltext {
    padding: 7px;
    top: 69%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #ffffff6b;
    width: 60%;
    position: absolute;
    background-color: #cec542d6;
    margin: 0 auto;
    color: #fff;
    text-shadow: #5f340f 2px 3px 4px;
    text-align: center;
    left: 20%;
    letter-spacing: 5px;
}

.carouseltext p {
    color: #262323;
    text-shadow: 1px 1px 3px #fff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 17px;
}





.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}


.little {
    position: absolute;
    opacity: 0.97;
    z-index: 30;
}

.f1 {
    top: 50%;
    right: 5px;
}

.f2 {
    top: 1000px;
    left: 5px;
}

.f3 {
    top: 1800px;
    right: 10px;
}

.f4 {
    top: 1850px;
    right: -25px;
    transform: rotate(0.5turn) scale(0.5, 0.5);
}



.container-lg {
    padding: 0;
}

.mainbox {
    z-index: 40;
    border-radius: 10px;
    border: 8px #d1c746 ridge;
    border-style: outset;
    border-top: none;
    margin: 0 -10px;
    text-align: center;
    background-color: #ddd55b;
    overflow: hidden;
    position: relative;
}


.show {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.content {

    display: -webkit-box;
    display: flex;
    overflow-x: scroll;
    -webkit-box-pack: justify;
    justify-content: space-between;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    cursor: e-resize;
}

.boxin {
    margin-left: 15px;
    margin-right: -15px;
}

.boxstyle1 {
    background: #95364b;
}

.boxstyle2 {
    background: #a75a4d;
}

.boxstyle3 {
    background: #b7784f;
}

.boxstyle4 {
    background: #daa377;
}

.boxstyle5 {
    background: #8c583b;
}

.boxstyle6 {
    background: #a8682e;
}

.boxstyle7 {
    background: #c8762c;
}

.boxstyle8 {
    background: #d88a4a;
}

.boxstyle9 {
    background: #2c5d72;
}

.boxstyle10 {
    background: #3b88ad;
}

.boxstyle11 {
    background: #6ab0cc;
}

.boxstyle12 {
    background: #565631;
}

.boxstyle13 {
    background: #5b612d;
}

.boxstyle14 {
    background: #506c41;
}

.boxstyle15 {
    background: #789d40;
}

.boxstyle16 {
    background: #8cae4c;
}

.boxstyle17 {
    background: #584486;
}

.boxstyle18 {
    background: #6d6194;
}

.boxstyle19 {
    background: #978cbb;
}

.boxstyle20 {
    background: #26453d;
}

.boxstyle21 {
    background: #045f47;
}

.boxstyle22 {
    background: #0d8469;
}

.boxstyle23 {
    background: #1aa28a;
}

.boxstyle24 {
    background: #5dbeab;
}


.conta {
    position: absolute;
    color: #ffffffe8;
    z-index: 80;
    font-weight: bold;
    padding: 15px;
    text-shadow: #7b776dd6 3px 2px 3px;
    letter-spacing: 2px;
    border-radius: 10px;
    border: #ddd55b94 9px;
    border-style: outset;
    background-color: #ddd55bcc;
        bottom: 29px;

}

.a2_1{
    right: 730px;
    width: 150px;
}

.a2_2 {
    right: 30px;
    padding: 5px;
    width: 100px;
}

.conta:hover {
    text-decoration: none;
    color: #ffef00;
    text-shadow: #7b776dd6 3px 2px 3px;
    border: #fff0058a 9px;
    background-color: #a0a0a0ad;
    border-style: groove;

}


.content li::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, 0);
    z-index: 50;
}

.smclose {
    display: none;
}

.close1 {
    top: 11px;
    cursor: pointer;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 0px;
    width: 50px;
    z-index: 50;
}

.close1 span {
    background: #ffffff;
    display: block;
    height: 4px;
    position: absolute;
    -webkit-transition: all 0.15s 0s ease-out;
    transition: all 0.15s 0s ease-out;
    width: 20px;
    border-radius: 20px;
    z-index: 50;
}

.arrow-prev {
    cursor: pointer;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 60px;
    width: 50px;
    z-index: 50;
}

.arrow-next {
    cursor: pointer;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 0px;
    width: 37px;
    z-index: 50;
}

.arrow-prev:hover span,
.arrow-next:hover span {
    animation: mymove 2s infinite;
}


@keyframes mymove {
    0% {
        box-shadow: #ffffff 0px 0px 2px 1px;
        background: #fff;
    }

    50% {
        box-shadow: #ffffff 0px 0px 5px 2px;
        background: #bdf5ea;
    }

    100% {
        box-shadow: #ffffff 0px 0px 2px 1px;
        background: #fff;
    }

}



.arrow span {
    background: #ffffff;
    display: block;
    height: 4px;
    position: absolute;
    -webkit-transition: all 0.15s 0s ease-out;
    transition: all 0.15s 0s ease-out;
    width: 20px;
    border-radius: 20px;
    z-index: 50;
}

span.left1 {
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

span.left2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 17px;
}

span.right1 {
    top: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.right2 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
}

span.close2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
}


.content li {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 6 - (10px * 2) - (20px / 6));
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 990px) {
    .show .content li {
        -webkit-box-flex: 1;
        flex: 1 0 calc(45% - 0px * 2);
    }
}

.boxstyle1 {
    border: unset;
}
}

.content li:last-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    right: calc(10px * 2 * -1);
}

.content li:first-child {
    /*  margin-left: calc(10px * 2);
*/
}

.contentitem {
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}



.itemtitle {
    position: absolute;
    color: #fff;
    letter-spacing: 1px;
}


/*menu*/

#clear {
    bottom: 25px;
    font-size: 20px;
    width: 50px;
    border: unset;
    height: 50px;
    border-radius: 50%;
    color: #596778;
    background-color: #fff;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    right: 113px;
}

button:focus {
    outline: unset;
}

#clear:hover {
    color: #ffffff;
    background-color: #72818e;
    box-shadow: 0px 0px 4px 3px rgba(245, 230, 230, 0.14);
}



.menu {
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}






.fixed-bottom {
    position: fixed;
    z-index: 1030;
    left: unset;
    right: 0;
    bottom: 0;
}

.menu-item,
.menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu+.menu-open:checked .menu {
    position: fixed;
    right: calc(50% - 40px);
    bottom: calc(50% - 40px);
    z-index: 1030;
    left: unset;
}

/* .menu-item {
   transition: all 0.1s ease 0s;
} */

.menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}



.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    -webkit-transform: translate3d(-90px, -80px, 0);
    transform: translate3d(-90px, -80px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -webkit-transform: translate3d(-90px, -160px, 0);
    transform: translate3d(-90px, -160px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    -webkit-transform: translate3d(-90px, -240px, 0);
    transform: translate3d(-90px, -240px, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    -webkit-transform: translate3d(0px, -80px, 0);
    transform: translate3d(0px, -80px, 0);
}

.menu-open:checked~.menu-item:nth-child(7) {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -webkit-transform: translate3d(0px, -160px, 0);
    transform: translate3d(0px, -160px, 0);
}

.menu-open:checked~.menu-item:nth-child(8) {
    transition-duration: 350ms;
    -webkit-transition-duration: 350ms;
    -webkit-transform: translate3d(0px, -240px, 0);
    transform: translate3d(0px, -240px, 0);
}


.blue {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
    color: #669AE1;
    text-shadow: none;
}

.green {
    background-color: #70CC72;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
    color: #70CC72;
    text-shadow: none;
}

.red {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
    color: #FE4365;
    text-shadow: none;
}

.purple {
    background-color: #C49CDE;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
    color: #C49CDE;
    text-shadow: none;
}

.orange {
    background-color: #FC913A;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
    color: #FC913A;
    text-shadow: none;
}

.lightblue {
    background-color: #62C2E4;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
    color: #62C2E4;
    text-shadow: none;
}

.credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
}

.credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.credit a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 990px) {
    .show {
        overflow: hidden;

    }

}

@media (max-width: 576px) {
    .mainbox {
        border: none;
        margin: 0;
    }

    .carouseltext {
        padding: 7px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        top: 35%;
    }

    .carouseltext h1 {
        font-size: 2rem;
    }

    .carouseltext p {
        font-size: 1rem;
    }

    .show {
        width: unset;
        max-width: unset;

    }

    .contentitem img {
        height: unset;
    }

    .content {
        height: 100% !important;
    }

    .show .hs__arrows {
        display: none;
    }

    .smclose {
        width: 100%;
        display: block;
        position: relative;
    }

}




@media (hover: none) and (pointer: coarse) {

    .show .content li {
        -webkit-box-flex: 1;
        flex: 1 0 calc(23% - 10px * 2);
    }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
    .show .content li {
        -webkit-box-flex: 1;
        flex: 1 0 calc(45%);
    }

    .contentimg {
        width: 65vw;
    }

    .box {
        padding: 0 5px !important;
    }
}


ul {
    padding: 0;
    margin: 0;
}